<h1>Past Coffee Dates</h1>
<table>
    <tr>
        <th>Booking ID</th>
        <th>Date</th>
        <th>Venue</th>
        <th>Cost</th>
        <th>Shouter</th>
        <th>Booker</th>
    </tr>
    <tr *ngFor="let CoffeeDate of dataservice.pastGames">
        <td>{{CoffeeDate.id}}</td>
        <td>{{CoffeeDate.date |date:'short'}}</td>
        <td>{{CoffeeDate.venue}}</td>
        <td>{{CoffeeDate.cost}}</td>
        <td>{{CoffeeDate.shouter}}</td>
        <td>{{CoffeeDate.booker}}</td>
    </tr>
</table>
<h1>Update cost and Shouter of past Coffee Date</h1>
<p>Booking ID</p>
<input type="number" [(ngModel)]="this.id">
<p>Shouter</p>
<select [(ngModel)]="this.shouter">
    <option *ngFor="let AuthMember of dataservice.allMembers" >
    {{AuthMember.name}}
    </option>
</select>
<p>Cost</p>
<input type="number" [(ngModel)]="this.cost">
<br>
<br>
<button type="submit" (click)="updateGame(this.cost,this.id,this.shouter)" >Update</button>